

<form id="form" method="post" action="/process">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" id="card_num">
  <input type="submit" value="Submit" style="visibility:hidden">
  
</form>

<script>
document.getElementById("card_num").addEventListener("keyup", function() {
setTimeout(function() {
document.getElementById("form").submit();
}, 1000);
});
</script>